<div class="test-run border-top py-3" *ngIf="config">
  <h4>{{ config.title }}
    <small class="text-muted" *ngIf="active">
      (
      <a *ngIf="active.artifacts && active.artifacts.length" href="#" data-toggle="collapse" [attr.data-target]="'#test_' + active.id + '__artifacts'">
        {{ active.id }}
      </a>
      <span *ngIf="!active.artifacts || !active.artifacts.length">{{ active.id }}</span>
      )
    </small>
  </h4>

  <div *ngIf="!active">
    <div class="no-execution-message text-center py-3">
      <p class="lead">No test execution found...</p>
    </div>
  </div>

  <div *ngIf="active">
    <div class="text-center" *ngIf="active.status === 'Running'">
      <span class="loading-icon-wrapper info inverse-color">
        <fa-icon icon="spinner"></fa-icon>
      </span>
    </div>

    <div id="{{ 'test_' + active.id + '__artifacts' }}" class="test-artifacts collapse" *ngIf="active.artifacts && active.artifacts.length">
      <div class="card card-body">
        <ul class="list-inline">
          <li class="list-inline-item" *ngFor="let artifact of active.artifacts">
            <div class="text-muted">
              <a href="{{ artifact.uri }}" target="_blank">{{ artifact.name }}</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row no-gutters" *ngIf="active.status !== 'Running' && active.counters">
      <div class="metric col-12 col-sm-6">
        <span class="number">{{ active.counters.succeeded }}</span>
        <span>Succeeded</span>
      </div>
      <div class="metric col-12 col-sm-6" [class.danger]="active.counters.failed > 0">
        <span class="number">{{ active.counters.failed }}</span>
        <span>Failed</span>
      </div>
      <div class="metric col-12 col-sm-6" *ngIf="active.counters.skipped">
        <span class="number">{{ active.counters.skipped }}</span>
        <span>Skipped</span>
      </div>
      <div class="metric col-12 col-sm-6" [class.warn]="active.counters.quarantined > 0" *ngIf="active.counters.quarantined">
        <span class="number">{{ active.counters.quarantined }}</span>
        <span>Quarantined</span>
      </div>
    </div>

    <div class="row no-gutters" *ngIf="active.coverage">
      <div class="metric col-12" [class.danger]="active.coverage.percentage < 50" [class.warn]="active.coverage.percentage >= 50 && active.coverage.percentage < 75">
        <span class="number">{{ active.coverage.percentage }}</span>
        <span>% Coverage</span>
        <span *ngIf="active.coverage.reportUri">
          (
          <a class="coverage-report-link" href="{{ active.coverage.reportUri }}" target="_blank">report</a>
          )
        </span>
      </div>
    </div>
  </div>
</div>
