h1 small {
  display: block;
}

.jumbotron {
  margin-top: 4rem;
}

.actions {
  [icon] {
    font-size: 1rem;
  }

  .dropdown-toggle::after {
    display: none;
  }
}

input#upload {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 100%;
  opacity: 0;
  z-index: -100;
}
